.imageThumb{left: 0;}
.imgblocks img{margin: 0 5px 0 0;}
.imageThumbDiv {
    max-height: 75px;
    margin: 10px 10px 0 0;
    position: relative;
    float: left;
}
.imageThumbDiv img{
	max-height: 75px;
    border: 2px solid;
    padding: 1px;
    width: 75px;
    height: 75px;
}
.imageThumbDiv .imgblocks a {
    position: absolute;
    right: 0px;
    top: -10px;
}