<!DOCTYPE html>
 <html lang="en">
    <head>
        <% include frontend/template/head %>
    </head>
    <body>
        <% include frontend/template/subnav %>
        <section class="testimonial-section text-justify">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                       <div class="panel panel-default listing-page-inner">
                         <div class="panel-heading">Buy Token</div>
                           <div class="panel-body">
                             <% include frontend/template/error %>
                                <p class="text-center"> You are on going to buy tokens.</p>
                                <form action="buy-token" method="post">
                                <input type="hidden" name="user" value="<%-req.session.user._id%>" />
                                <input type="hidden" name="user_id" value="<%-req.session.user.id%>" />   
                                <div class="form-group">
                                    <label for="token_amount">How many tokens?</label>
                                    <input type="text" class="form-control" name="token_amount" id="token_amount">
                                </div>
                                <div class="form-group token_cost_price">
                                    <label for="cost_pay">Approximate Cost:</label>
                                    <span class="cost_pay"></span>
                                    <input type="hidden" value="" name="cost_amount" class="cost_amount">
                                </div>          
                                <div class="form-group">
                                    <label for="submit_btn"></label>
                                    <input type="button" class="form-control btn btn-primary" id="purchase_btn" value="buyToken">
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        
                    </div>
                </div>
            </div>
        </div>
        <input name="token_price" class="token_price" type="hidden" value="<%-token_price%>" />
        </section> 
   <!-- Footer -->
   <% include frontend/template/subfooter %>
   <script src="/js/validation/profilevalidation.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        $("#token_amount").blur(function(){
            var amount = $(this).val();
            var token_price=parseFloat($(".token_price").val());
            console.log(token_price);
            var bill = amount*token_price;
            console.log(bill);
            $(".cost_pay").html(bill);
            $(".cost_amount").val(bill);
        })
    })
    </script>
   </body>
 </html> 