<!DOCTYPE html>
<html lang="en">
  <head>
    <% include frontend/template/head %>
    
  </head>
  <body>
    <!-- Navigation -->
   <% include frontend/template/subnav %>
    <!-- Masthead -->
    <section class="testimonial-section text-justify">
        <div class="container">
          <div class="row">
          <div class="col-md-8 offset-md-2">
            <div class="panel panel-default listing-page-inner">
              <div class="panel-heading">CHANGE PASSWORD</div>
              <div class="panel-body">
                <% include frontend/template/error %>
                <form role="form" action="/updatepassword" role="form" method="post" class="login-form change-password" name="changepasswordform">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group form-group-material">
                      <label class="control-label animate" for="old_password">Old Password*</label>
                      <input type="password" class="form-control" id="old_password" placeholder="Enter Old Password *" name="old_password">
                    </div>

                    <div class="form-group form-group-material">
                      <label class="control-label animate" for="new_password">New Password*</label>
                      <input type="password" class="form-control" id="new_password" placeholder="Enter New Password *" name="new_password">
                    </div>

                    <div class="form-group form-group-material">
                      <label class="control-label animate" for="confirm_password">Confirm New Password*</label>
                      <input type="password" class="form-control" id="confirm_password" placeholder="Enter Confirm Password *" name="confirm_password">
                    </div>
                    <div class="submit-div text-center">
                      <button type="submit" class="btn btn-primary btn-rounded btn-outline">Submit</button>
                      <a href="/" class="btn btn-danger btn-rounded">Cancel</a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
	<!-- Footer -->
  <% include frontend/template/subfooter %>
  <script src="/js/validation/changepasswordvalidation.js"></script>
  </body>
</html>
<script>
var onClass = "on";
var showClass = "is-visible";

// Setup
$("input:not(.token-input):not(.bootstrap-tagsinput > input), textarea, select").on("checkval change", function () {
    // Define label
    var label = $(this).parents('.form-group-material').children(".control-label");

    // Toggle label
    if (this.value !== "") {
        label.addClass(showClass);
    }
    else {
        label.removeClass(showClass).addClass('animate');
    }
}).on("keyup", function () {
    $(this).trigger("checkval");
}).trigger("checkval").trigger('change');
</script>



   
