<!DOCTYPE html>
<html lang="en">
  <head>
    <% include frontend/template/head %>
  </head>
  <body>
    <!-- Navigation -->
   <% include frontend/template/subnav %>
    <!-- Masthead -->
  <section class="testimonial-section text-justify privacy_page">
    <div class="container">
      <div class="panel panel-flat">
        <div class="panel-heading text-center">
          <h2 class="panel-title">Privacy Policy</h2>
        </div>
        <hr class="divider">
        <div class="panel-body">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">    
            <p class="terms-sub-header"> 1. USER ANONYMITY </p>
            <p>Anonymous information may be disclosed at times regarding facts about user patterns. This information will only represent user statistics for advertising purposes. We do not know what you search for on search engines. We only know what you search for within our site.</p>
        
            <p class="terms-sub-header"> 2. BANK & CREDIT CARD INFORMATION </p>
            <p>If you have written a review, we do not need any private banking details from you. The only details we ask for are a name, address and email address to confirm that you are a real user. We will never gain access to your credit card number. If you do choose to purchase something by clicking through to one of our retailers, we will not see any of your private information including banking details or credit card numbers. </p>
            
            <p class="terms-sub-header"> 3. AGE REQUIREMENTS - 18 OR OLDER </p>
            <p>We require our users to be 18 or older and anyone using the site must adhere to this rule. We never knowingly allow children under 18 to post personal information on our site. </p>

            <p class="terms-sub-header"> 4. COOKIES </p>
            <p>We do not use or store cookies.</p>

            <p class="terms-sub-header"> 5. YOUR REVIEW LIST </p>
            <p>Your subscriber/reviewer lists are stored on a secure revstance.com server. We don't, under any circumstances, sell your lists, contact people on your lists, market to people on your lists, steal your lists, or share your lists with any other party, unless it's required by law. If someone on your list complains or contacts us, we may then contact that person.</p>

            <p class="terms-sub-header"> 6. SAFEGUARDING YOUR INFORMATION </p>
            <p>Revstance.com accounts require a username and password to log in. You must keep your username and password secure, and never disclose it to a third party. Because your information is so sensitive, account passwords are encrypted, which means we can't see your passwords. We can't resend forgotten passwords either. We'll only reset them.</p>

            <p class="terms-sub-header"> 7. Right To Be Forgotten </p>
            <p>Upon request to Revstance.com via the contact information stated on this page, Revstance.com shall inform you of the purpose of the processing; who receives the information and from where the information originates.</p>
            <p>Requests regarding the above shall only be processed if more than 6 months have lapsed since your previous request, unless you can substantiate a special interest in obtaining the information earlier.</p>

            <p class="terms-sub-header"> 8. Correction and deletion </p>
            <p>If you discover that the information which Revstance.com as the data controller process on you is incorrect or misleading we recommend that you where possible make the correction of such errors yourself.</p>
            <p>You may at any time correct or delete any content and information on the Website for which you are the data controller by emailing <a href="mailto:support@revstance.com">support@revstance.com</a>. When your profile is deleted, all the profile data associated with your user profile is deleted, excluding your reviews and any locations added on the Website, unless they break our terms and conditions. If you delete a review or listing on the Website, the review is permanently deleted.</p>
            <p>Revstance.com reserves the right to block the access to your profile and/or delete your profile, if the profile or the content of your profile on the Website in our assessment is discriminating, racist, sexually oriented, unethical, threatening, offensive, harassing or in other ways violates the legislation, third party rights or the purpose of the Website. If we block the use of your profile, you shall be informed hereon, as well as on the reason for blocking the access, by email to the address you have stated in your profile</p>

            <p class="terms-sub-header"> 9. Changes in the privacy policy </p>
            <p>Revstance.com may at any time and without notice make changes to its privacy policy with future effect. Revstance.com shall inform the users of the Website of such changes when the users log on to the Website. You agree that the continued use of the Website after any posted modified version of the Privacy Policy is your acceptance of the modified Privacy Policy.</p>

            <p class="terms-sub-header"> 10. Enquiries regarding this privacy policy </p>
            <p>If you have any questions or comments, or if you want to update, delete, or change any Personal Information you've submitted on the Website, please use our contact form to get in touch.</p>
            <p>In addition, you are welcome to contact Revstance.com on the following address: <br /> <br />
              2 Sheen Road <br /> Richmond <br /> TW9 1AE <br /> ENGLAND<br />
          Telephone: <a href="tel:+44 7549941609">+44 7549941609</a>, Email: <a href="mailto:support@revstance.com"> support@revstance.com </a></p>
        </div>    
      </div>
    </div> 
  </section>
  <!-- Footer -->
   <% include frontend/template/subfooter %>
  </body>
</html>


   
