<nav class="navbar navbar-expand-lg navbar-light inner-header" id="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="../frontend_assets/img/revstance-logo.png" alt="revstance" class="logo"></a>   
       <ul class="navbar-nav">            
             <% if(!session.user){%>
                <li class="nav-item">
                    <a href="/signup" class="navbar-right">Are you a Business ?</a>
                </li>
            <% }else{ 
                    if(session.user.user_type==2){
                    if(session.user.status==2) { %>
                        <li class="nav-item dropdown show">
                    <a href="JavaScript:void(0);"  class="navbar-right dropdown-toggle"  role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Location</a>
                     <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="../Mylisting">My Locations</a>
                        <a class="dropdown-item" href="../addListing">Add Location</a>
                        <a class="dropdown-item" href="../myclaimedlocations">Claimed Locations</a>
                      </div> 
                </li>
                    <%} }else{ %>
                    <li class="nav-item dropdown show">
                        <a href="JavaScript:void(0);"  class="navbar-right dropdown-toggle"  role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Location</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item" href="../Mylisting">My Locations</a>
                        </div>
                        </li>
                    <% } %>
                
                <li class="nav-item dropdown show">
                    <a href="JavaScript:void(0);"  class="navbar-right dropdown-toggle"  role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Account</a>
                     <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="../MyProfile">My Profile</a>
                        <a class="dropdown-item" href="../changepassword">Change Password</a>
                      </div> 
                </li>

            <% } %>
            <% if(session.user){%>
            <li class="nav-item">
                <a onclick="logout(); event.preventDefault();" href="javascript:void(0)" class="btn btn-default login-btn" >Logout</a>
                <form id="logout-form" action="/logout" style="display: none;"></form>
            </li>
            <% }else{ %>
            <li class="nav-item">
                <a href="/login" class="btn btn-default login-btn" >Login</a>
            </li>
            <% } %>
            <a href="" class="toggle" data-toggle="modal" data-target="#myModal"> 
            <li class="nav-item">
                    <div class="toggle-line"></div>
                    <div class="toggle-line"></div>
                    <div class="toggle-line"></div>
            </li>
            </a>           
        </ul>
  </div>
</nav>