<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../frontend/template/head %>
    <link href="/frontend_assets/css/select2.min.css" rel="stylesheet" />
  </head>
  <body>
    <!-- Navigation -->
   <% include ../frontend/template/subnav %>
    <!-- Masthead -->
    <section class="testimonial-section text-justify">
      <div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <div class="panel panel-default listing-page-inner">
              <div class="panel-heading">Add Location</div>
              <div class="panel-body">
                <% include ../frontend/template/error %>
                <form role="form" action="/storeListing" role="form" method="post" class="login-form" <%if(session.user.user_type==2){%>name="createbulistingform"<%}else{%>name="createfelistingform"<%}%> enctype="multipart/form-data">
                
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 float-left">
                    <div class="form-group form-group-material">
                      <label class="control-label animate" for="property_name">Location Name *</label>
                      <input type="text" class="form-control" id="property_name" placeholder="Enter Location Name *" name="property_name">
                    </div>
                    <div class="form-group form-group-material">
                      <label class="control-label animate" for="location1">Address 1 *</label>
                      <input type="text" class="form-control" id="location1" placeholder="Address 1 *" name="address1">
                    </div>
                    <div class="form-group form-group-material">
                      <label class="control-label animate" for="location2">Address 2 *</label>
                      <input type="text" class="form-control" id="location2" placeholder="Address 2 *" name="address2">
                    </div>
                    <div class="form-group form-group-material">
                      <label class="control-label animate" for="location2">Area *</label>
                      <input type="text" class="form-control" id="location3" placeholder="Area *" name="area">
                    </div>
                    <div class="form-group form-group-material">
                      <label class="control-label animate" for="postcode">Post Code *</label>
                      <input type="text" class="form-control" id="postcode" placeholder="Post Code *" name="postcode">
                    </div>
                    <div class="form-group form-group-material">
                      <label class="control-label animate" for="sel1">Select Category *</label><br/>
                      <select class="form-control multiselect" id="sel1" name="categories" multiple="multiple">
                        <!-- <option selected="selected" disabled="disabled">Select Category *</option> -->
                          <% if(categories.length>0){ 
                            for(var i=0;i<categories.length;i++){
                          %>
                          <option value="<%- categories[i]._id; %>"><%- categories[i].category_name; %></option>
                          <%} }%>
                        
                      </select>
                      <span>Category not exist.add new from <a href="javascript:void(0)" class="add-category-link">here</a></span>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 float-left">
                    <div class="form-group form-group-material">
                    <%if(session.user.user_type==2){%>
                      <label class="control-label animate" for="city">Upload Location Images *</label>
                      <input type="file" class="form-control" id="property_image" placeholder="Upload Location Images" name="property_image" multiple="multiple" accept="image/*">
                    <%}else{%>
                      <label class="control-label animate" for="city">Upload Location Images</label>
                      <input type="file" class="form-control" id="property_image" placeholder="Upload Location Images" name="property_image" multiple="multiple" accept="image/*">
                    <%}%>
                    </div>
                    <div class="form-group form-group-material">
                      <label class="control-label animate" for="property_desc">Enter Location Description *</label>
                      <textarea class="form-control" rows="4" id="property_desc" name="property_desc" placeholder="Enter Location Description *"></textarea>
                    </div>
                    
                </div>
                <div class="submit-div profile-btn col-lg-12 submit-div profile-btn text-center">
                      <button type="submit" class="btn btn-primary btn-rounded btn-outline" style="display:none;" id="btnsubmit">Submit</button>

                      <a onclick="window.location='<%-req.header('Referer')%>'" href="javascript:void(0)" class="btn btn-danger btn-rounded">Cancel</a>

                    </div>
                </form>
              </div>
            </div>
          </div>
            <% include ../frontend/template/addcategorymodal %>  
        </div>
      </div>
    </section>
  <!-- Footer -->
   <% include ../frontend/template/subfooter %>
   <script src="/js/plugins/select2/select2.min.js"></script>
   <script src="/js/validation/createlistingvalidation.js"></script>
   <script src="/js/validation/addusercategoryvalidation.js"></script>
  </body>
</html>
<script>
$(document).ready(function(){
  $('.add-category-link').on('click',function(){
    $('#addCategoryModel').modal();
  });
    $("#btnsubmit").show();
    $('.multiselect').select2({
      placeholder: 'Select Category',
      allowClear: true
    });
});
var onClass = "on";
var showClass = "is-visible";

// Setup
$("input:not(.token-input):not(.bootstrap-tagsinput > input), textarea, select").on("checkval change", function () {
    // Define label
    var label = $(this).parents('.form-group-material').children(".control-label");

    // Toggle label
    if (this.value !== "") {
        label.addClass(showClass);
    }
    else {
        label.removeClass(showClass).addClass('animate');
    }
}).on("keyup", function () {
    $(this).trigger("checkval");
}).trigger("checkval").trigger('change');
</script>



   
