<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../frontend/template/head %>
    
  </head>
  <body>
    <!-- Navigation -->
   <% include ../frontend/template/nav %>
    <!-- Masthead -->
    <header class="masthead home-page text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-9 mx-auto">
            <form>
              <div class="form-row">
                <div class="col-lg-12 col-md-12 col-sm-12 search-form">
                  <input type="search" class="form-control form-control-lg" placeholder="Search and start adding reviews">
                </div>
                <div class="col-12 col-md-3 primary-btn search-btn">
                  <button type="submit" class="btn btn-block btn-lg info-btn">Search</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </header>
    <section class="business-section text-center">
        <h1 class="text-center"> Business Home </h1>
        <div class="container">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-xs-12 business-content-right">
              <% include ../frontend/template/error %>
              <p>Welcome, <%= session.user.first_name %></p>
                <p>You are Login as <%= (session.user.user_type==2) ? 'Business User' : 'Front End User' %></p>
                <% if(session.user.user_type==2 && session.user.status==2){%>
                <a href="#">Create Listing</a> |
                <a href="#">My Locations</a>
                <% }else{%>
                  <div class="text-danger">You can add location once admin approve your account</p>
                <%} %>
              </div>
            </div>
        </div>
    </section>
    
	<!-- Footer -->
   <% include ../frontend/template/subfooter %>
  </body>
</html>


   
