		<!-- Footer -->
			<div class="navbar navbar-expand-lg navbar-light">
				<div class="text-center d-lg-none w-100">
					<button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-footer">
					</button>
				</div>

				<div class="navbar-collapse collapse" id="navbar-footer">
					<span class="navbar-text">
						Copyright @ Revstance 2018 (Meet Your Ltd). All Rights Reserved
					</span>
				</div>
			</div>
		<!-- /footer -->
	</div>
	<!-- /main content -->
</div>
<!-- /page content -->
<!-- JavaScript-->
<script type="text/javascript">
	$(document).ready(function(){
		if($(".nav-item a.active").parents('.nav-group-sub').parent().hasClass('nav-item-submenu')){
			$(".nav-item a.active").parents('.nav-item-submenu').addClass('nav-item-expanded nav-item-open');
		}
	});
	function confirmmessage(text,redirect){
			swal({
			    title: text,
			    icon: "warning",
			    buttons: true,
			    buttons: ["Cancel", "Confirm"],
			    dangerMode: true,
			    closeOnClickOutside: false,
			    closeOnEsc: false,
			    timer: 10000,
			})
			.then((willDelete) => {
			    if (willDelete) {
			        window.location.href = redirect;
			    }
			});
		}
</script>
<script src="/js/validation/jquery.validate.js"></script>
<script src="/js/validation/additional-methods.js"></script>
<script src="/js/plugins/sweetalert/sweetalert.js"></script>
<!-- /JavaScript-->
