					<!-- Footer -->
					<div class="footer text-muted">
						Copyright @ Revstance 2018 (Meet Your Ltd). All Rights Reserved
					</div>
					<!-- /footer -->

				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->
<!-- Bootstrap core JavaScript-->
    <script src="/js/validation/jquery.validate.js"></script>
    <script src="/js/validation/additional-methods.js"></script>
    <script src="/js/plugins/sweetalert/sweetalert.js"></script>
	<script src="../assets/js/custom/jquery.colorbox.js"></script>
	<script src="../assets/js/custom/jquery.dataTables.js"></script>
	<script src="../assets/js/custom/dataTables.responsive.min.js"></script>

	<script type="text/javascript">
		$(document).ready(function(){
			$.extend($.fn.dataTable.defaults, {
		        autoWidth: false,
		        responsive: true,
		        displayLength: 10,
		        /*columnDefs: [{ 
		         orderable: false,
		         width: '100px',
		         targets: [ 8 ]
		         }],*/
		        dom: '<"datatable-header"fl><"datatable-scroll"t><"datatable-footer"ip>',
		        language: {
		            search: '<span>Search:</span> _INPUT_',
		            lengthMenu: '<span>Show:</span> _MENU_',
		            paginate: {'first': 'First', 'last': 'Last', 'next': '&rarr;', 'previous': '&larr;'}
		        },
		        drawCallback: function () {
		            $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').addClass('dropup');
		        },
		        preDrawCallback: function () {
		            $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').removeClass('dropup');
		        }
		    });
		    $("#dataTable").DataTable();

		    $('#proptery-carousel').carousel({
	          interval: 6000
		      })
		      var totalItems = $('.carousel-item').length;
		      var currentIndex = $('div.active').index() + 1;
		      $('.num').html(''+currentIndex+'/'+totalItems+'');
		      $('#proptery-carousel').on('slide.bs.carousel', function() {
		        currentIndex = $('div.active').index() + 1;
		        $('.num').html(''+currentIndex+'/'+totalItems+'');
		     });
		    
		});

		

  		$(".create-slider").click(function(e) {
    		var image_carousel_container = $(this).attr('href')+' .carousel-slider-inner';
    		$(image_carousel_container).empty();
	        var Attr = $(this).attr('data-media');
	        var valNew=Attr.split(',');
	        for(var i=0;i<valNew.length;i++){
	          if(i == 0){
	            var myclass = 'active';
	          }else{
	            var myclass = '';
	          }
	            $(image_carousel_container).append("<div class='carousel-item property-item "+myclass+"'><img src=/uploads/"+valNew[i]+" class='d-block property-image'></div>");
	          }

        	$('.create-slider').colorbox({inline:true, width:"50%", height:"auto"});
	          if (jQuery(window).width() <= 768) { 
	            $('.create-slider').colorbox({inline:true, width:"90%", height:"auto"}); 
	          };
        });

        $('.image-carousel').carousel({
            interval: 6000
        })

        $('.carousel-control-prev').click(function() {
          $('.image-carousel').carousel('prev');
        });

        $('.carousel-control-next').click(function() {
          $('.image-carousel').carousel('next');          
        });
</script>